.app {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
}

main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.light {
  --clr-bg: #fff;
  --clr-fg: #404040;
  --clr-fg-alt: #3f3f3f;
  --clr-primary: #2b6bff;
}

.dark {
  --clr-bg: #23283e;
  --clr-fg: #bdbddd;
  --clr-fg-alt: #cdcdff;
  --clr-primary: #a09fff;
}

.link {
  color: var(--clr-primary);
}

.btn {
  border: 2px solid var(--clr-primary);
  color: var(--clr-primary);
  padding: 0.8em 1.4em;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: lowercase;
  border-radius: 2em;
}

.btn:hover {
  background-color: var(--clr-primary);
  color: var(--clr-bg);
}
